# Python virtual environment and compiled files
venv/
__pycache__/

# Environment variables and secrets
.env

# Logs and system clutter
*.log
.DS_Store

# Development run file 
 /benchmark.py

# Specific Python files to ignore
detector1.py
test_spacy.py

# Local SSL Certificates
localhost-key.pem
localhost.pem

# extra files
PreSendAI_Complete_Setup_Guide.docx
PreSendAI_Complete_Setup_Guide.pdf

# Ignore the model weights and checkpoints
fine-tuned-ner-model/
ner_model_output/
checkpoint-*/